

%h1 法令一覧

%form{method: "post"}
  %p 法律の名称を検索することができます。
  %p
    %span 検索
    %input{type:"text", value: @q, name: "q"}
    %span 　
    %span
      %input{type:"radio", name:"q_c", value:"a", checked:""}
      %label AND検索　
      %input{type:"radio", name:"q_c", value:"o"}
      %label OR検索　
      - if @q_exam != nil
        %input{type: "checkbox", name:"q_exam", value:"1", checked:""}
        %label 司法試験科目のみ　
      - else
        %input{type: "checkbox", name:"q_exam", value:"1"}
        %label 司法試験科目のみ　
    %span
      %input{type:"submit", value:"再検索"}
  %p.group
    %input.allCheck{type: "checkbox", checked:""}
    %label{style:"font-size:15px;font-weight:bold;"} 全選択/全解除
    %br
    - i=0
    - 50.times do |g|
      - i=i+1
      %span
        - if @q_group==nil || @q_group.include?(i.to_s)
          %input{type:"checkbox", name:"q_group[]", value:"#{i.to_s}", checked:""}= i.to_s + ": " + @group[i.to_s]
        - else
          %input{type:"checkbox", name:"q_group[]", value:"#{i.to_s}"}= i.to_s + ": " + @group[i.to_s]
  %p.type
    %input.allCheck{type: "checkbox", checked:""}
    %label{style:"font-size:15px;font-weight:bold;"} 全選択/全解除
    %br
    - i=-1
    - 5.times do |g|
      - i=i+1
      %span
        - if @q_type==nil || @q_type.include?(@type[i][0])
          %input{type:"checkbox", name:"q_type[]", value:"#{@type[i][0]}", checked:""}= @type[i][0] + ": " + @type[i][1]
        - else
          %input{type:"checkbox", name:"q_type[]", value:"#{@type[i][0]}"}= @type[i][0] + ": " + @type[i][1]

  %p
    %span{style:"font-size:15px;font-weight:bold;"} 期間指定
    %span (お探しの法令が交付された期間を西暦で指定してください)
    %br
    %input{style:"width:60px;text-align:center;", type:"text", name:"q_first", value:@q_first}
    %label 年
    %span ～
    %input{style:"width:60px;text-align:center;", type:"text", name:"q_last", value:@q_last}
    %label 年

  %p
    %span 上記条件に該当する法令は下記の<strong>#{@laws.length}</strong>件がヒットしました。

%table.laws
  %tr
    %th ID
    %th 種類
    %th タイトル
    %th 号
  - @laws[0..199].each do |l|
    %tr
      %td= l["id"]
      - j=l["group"].split("_")[2]
      - str=j+": "+@group[j]
      %td= str
      %td
        %a{:href => "/laws/#{l["id"]}"}
          %span= l["title"]
      %td= l["name"]

- if @laws.length > 200
  %p 検索結果の数が多すぎたため、200件を越える部分はカットしました。



