%h2 #{@art["title"]}第#{@num}条の解析

%h3 条文

%p.c1
  %span.tit= @num
  %span …
  %span= @this_art

-# EM::defer do
%table.similarity
  %tr
    %th 類似度
    %th 条数
    %th 条文
  - @output.each do |n, m|
    - sim = @s.sim(@this_art, m["main"]).round(2)
    - if sim > 0.6 && n!=@num
      %tr
        %td= sim
        %td= n
        %td= m["main"]


